/*
 Name: Saabiq Bondre
 *UnityID: smbondre
 *Date: 11/24/19
 *Assignment: Website Design and Styling Independant Assignment
 *Description: Intro to XHTML and Styling
 */
 
.paragraph_2 {
    font-family:Arial ;
    font-size: 16px;
    color: #0000ff;
    text-align: center;
}

.background {
    background-color:ffff00;
}

.image-border {
    border: 2px solid #00ff00 ;
}
.table-border {
    border: 1px solid #0000ff ;
}
